<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <title>Chatting App</title>
</head>
<body>
<input type="text" id="nickname" class="form-inline" placeholder="Enter your name" required autofocus>
<button class="btn btn-primary" id="name">Ok</button>
<div id="chatroom" style="width:400px; height: 600px; border:1px solid; background-color : gray"></div>
<input type="text" id="message" style="height : 30px; width : 340px" placeholder="Enter text" autofocus>
<button class="btn btn-primary" id="send">Send</button>
<script>

</script>
</body>
<script>
    var webSocket;
    var nickname;
    document.getElementById("name").addEventListener("click", function () {
        nickname = document.getElementById("nickname").value;
        document.getElementById("nickname").style.display = "none";
        document.getElementById("name").style.display = "none";
        connect();
    });
    document.getElementById("send").addEventListener("click", function () {
        send();
    });

    function connect() {
        webSocket = new WebSocket("ws://localhost:8080/chat");
        webSocket.onopen = onOpen;
        webSocket.onclose = onClose;
        webSocket.onmessage = onMessage;
    }

    function disconnect() {
        webSocket.send(nickname + "went out!");
        webSocket.close();
    }

    function send() {
        msg = document.getElementById("message").value;
        webSocket.send(nickname + " : " + msg);
        document.getElementById("message").value = "";
    }

    function onOpen() {
        webSocket.send(nickname + "joined!");
    }

    function onMessage(e) {
        data = e.data;
        chatroom = document.getElementById("chatroom");
        chatroom.innerHTML = chatroom.innerHTML + "<br>" + data;
    }

    function onClose() {

    }
</script>
</html>
